<div class="box main-box" style="padding-top: 80px;">
    <div class="container">
        <div class="about-box">
            <div class="row">
                    <div class="col-8">    
                        <h1 class="header">About Stan Mozolevskiy</h1>
                        <p>I am a {{age}} years old <strong>Software Engineering</strong> based in Portsmouth, NH United States who enjoys what he does. Very positive and highly motivated person with over 4 years of experience in building and maintaining software, web and mobile applications with focusing on both frontend and backend technologies.</p>
                        <p>I curently work as a <strong>Software Engineer</strong> at <strong><a class="text-red" href="https://www.b2wsoftware.com/" target="_blank">B2W Software</a></strong>, trying to make construction industry more profitable and a better place for people to be.</p>
                        <p>Outside work I really enjoy cooking delicious food, playing chess and video games, rewatching Marvel movies and lifting heavy weights :).</p>
                    </div>
                    <div class="col" style="text-align: center;">
                            <img src="../../assets/images/stan.jpg" class='img-thumbnail'>
                            <span >Stan Mozolevskiy</span>
                    </div>                   
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div><h2 style="color:white;">Most used technologies</h2>
                <div class=" float-left" style="font-size: {{iconSize -7}}px;">
                    <div class="no-wrap">
                        <i class="fab fa-js-square icon" style="color: yellow;"></i><span>JavaScript</span>
                    </div>
                    <div class=" no-wrap">
                        <i class="fab fa-react icon" style="color: 4C6EF5"></i><span>Reacrt</span>
                    </div>
                    <div class=" no-wrap">
                        <i class="fab fa-angular icon" style="color: red"></i><span>Angular</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/external-soft-fill-juicy-fish/{{iconSize}}/000000/external-sql-coding-and-development-soft-fill-soft-fill-juicy-fish.png"/><span>SQL</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/c-sharp-logo.png"/><span>C#</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/typescript.png"/><span>TypeScript</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/microsoft.png"/><span>Entity Framework</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/amazon-web-services.png"/><span>AWS</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/webpack.png"/><span>Webpack</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/wordpress.png"/><span>WordPress</span>
                    </div>
                    <div class=" no-wrap"> 
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/bootstrap.png"/><span>Bootstrap</span>
                    </div>
                    <div class="no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/sass.png"/><span>Sass</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/windows/{{iconSize}}/000000/less-logo.png"/><span>Less</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/git.png"/><span>Git</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/npm.png"/><span>NPM</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/windows/{{iconSize}}/000000/gulp.png"/><span>Gulp</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/firebase.png"/><span>Firebase</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/html-5--v1.png"/><span>HTML5</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/visual-studio-2019.png"/><span>Visual Studio</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/color/{{iconSize}}/000000/heroku.png"/><span>Heroku</span>
                    </div>
                    <div class=" no-wrap">
                        <img  class="icon" src="https://img.icons8.com/office/{{iconSize}}/000000/asp.png"/><span>ASP</span>
                    </div>
                    <div class=" no-wrap">
                        <img  class="icon" src="https://img.icons8.com/fluency/{{iconSize}}/000000/docker.png"/><span>Docker</span>
                    </div>
                    <div class=" no-wrap">
                        <img  class="icon" src="https://img.icons8.com/windows/{{iconSize}}/000000/grunt.png"/><span>Grunt</span>
                    </div>
                    <div class=" no-wrap">
                        <img  class="icon" src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/{{iconSize}}/000000/external-postman-is-the-only-complete-api-development-environment-logo-shadow-tal-revivo.png"/><span>PostMan</span>
                    </div>
                    <div class=" no-wrap">
                        <img class="icon" src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/{{iconSize}}/000000/external-net-or-dot-net-a-software-framework-developed-by-microsoft-logo-shadow-tal-revivo.png"/><span>.NET</span>
                    </div>
                </div>
                <div>

                    <h2 class="secont-title">Work Experience</h2>
                </div>
                <div class="timeline">
                    <ul class="left-ul">
                        <!-- <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h6>May 2022 - Present</h6>
                                    <p>Portsmouth NH</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">Software Engineer - <a class="text-red" href="https://www.b2wsoftware.com/" target="_blank">MEMIC</a>
                                    </p>
                                    <ul>
                                        <li class="right-li"> Lead the software architecture design, implementation, documentation, testing, and product release.</li>
                                        <li class="right-li"> Provide technical knowledge and insight to peers and colleagues and facilitate knowledge sharing.</li>
                                        <li class="right-li"> Responsible for software verification.</li>
                                        <li class="right-li"> Review and give constructive feedback on others’ code.</li>
                                    </ul>
                                </div>
                            </div>
                        </li> -->

                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h6>April 2020 - Present</h6>
                                    <p>Portsmouth NH</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">Software Engineer - <a class="text-red" href="https://www.b2wsoftware.com/" target="_blank">B2W Software</a>
                                    </p>
                                    <ul>
                                        <li class="right-li"> Completed the B2W Inform rewrite from .ner framevork to .net 5 using dependency injection and c# 8.</li>
                                        <li class="right-li"> Completed the B2W Inform rewrite from angular js to angular 12 using the best practices</li>
                                        <li class="right-li"> Implemented JWT to existing solution and set the appropriate middleware for error handling and auth.</li>
                                        <li class="right-li"> Optimised existing stored procedures using SQL to be more performant and integrated it with the Entity Framework</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h6>November 2018 - April 2020</h6>
                                    <p>Portsmouth NH</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">Cloud Engineer - <a class="text-red" href="https://www.b2wsoftware.com/" target="_blank">B2W Software</a>
                                    </p>
                                    <ul>
                                        <li class="right-li"> On board new B2W Cloud customers and work closely with implementation projects for B2W Cloud customers</li>
                                        <li class="right-li"> Manage and execute updates to B2W products hosted on LoadSpring</li>
                                        <li class="right-li"> Report status updates to the development team on a daily basis.</li>
                                        <li class="right-li"> Provide support to the B2W Client Services team to help resolve production issues.</li>
                                        <li class="right-li"> Manage more than 30 high availability group servers combined with a load balancer.</li>
                                        <li class="right-li"> Have both strong general product and technical knowledge of all of the B2W products</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h6>Jan 2018 - Present</h6>
                                    <p>Remote</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">Web developer - <a class="text-red" href="https://www.freelancer.com/" target="_blank">Individual Contractor</a>
                                    </p>
                                    <ul>
                                        <li class="right-li"> Completed over 15 projects and with a 5 star rating on freelance platforms and local small businesses.</li>
                                        <li class="right-li"> Worked on designing and implementation of WordPress sites. Troubleshoot WordPress production issues.</li>
                                        <li class="right-li"> Assisted multiple companies from all over the world in building and maintaining their online presence.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h6>June 2015 - May 2018</h6>
                                    <p>Seacoast New England</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">IT Support Specialist - <a class="text-red" href="https://www.experimax.com/" target="_blank">Experimac</a>
                                    </p>
                                    <ul>
                                        <li class="right-li"> Responsible for systems tools and network devices, maintaining most hardware diagnostics and hardware installation.</li>
                                        <li class="right-li"> Conducts hardware and software installation and configuration for laptops and desktops with emphasis on best practices.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h6>2014 - 2015</h6>
                                    <p>Portsmouth NH</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;"> Assistant in Computer LAB (CAPS) - <a class="text-red" href="https://www.greatbay.edu/" target="_blank">Great Bay Comunity Colledge</a>
                                    </p>
                                    <ul>
                                        <li class="right-li"> Oversaw computer lab on campus, consisting of approximately 40 computers with software, and assisted with running the ACCUPLACER registration test for enrollment.</li>
                                        <li class="right-li"> Offered students additional tutoring on advanced computer use; and scheduled and facilitated tutoring courses and workshops for students.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
        </div>
        
        
    </div>
</div>
</div>
<app-getintouch></app-getintouch>