<div class="box main-box">
    <div class="container">
        <div class="about-box">
            <div class="row">
                    <div class="col-8">    
                        <h1>About Stan Mozolevskiy</h1>
                        <p>I am a 25 years old passionate <strong>Fullstack Web Developer</strong> based in Stockholm, Sweden (originally from Serbia) who enjoys building software. Very positive and highly motivated person with over 7 years of experience in building beautiful websites, web and mobile applications with a stronger focus on the frontend technologies.</p>
                        <p>Right now I work as a <strong>Software Engineer</strong> at <strong><a class="text-red" href="https://www.b2wsoftware.com/" target="_blank">B2W Software</a></strong>, trying to make investing and saving money easier for all people in the Nordic countries.</p>
                        <p>Outside work I really enjoy cooking delicious food, playing chess and video games, rewatching Marvel movies and lifting heavy weights :).</p>
                    </div>
                    <div class="col" style="text-align: center;">
                            <img src="../../assets/images/stan.jpg" class='img-thumbnail'>
                            <span >Stan Mozolevskiy</span>
                    </div>                   
            </div>
        </div>
        <div class="row">
            <div class="jg55wx-0 jStZiW"><h2 style="color:white;">Most used technologies</h2>
                
            <div class="ssccpk-0 fKtSkG"></div>
            <h2 style="color:white;">Work Experience</h2>
            
                <div class="timeline">
                    <ul class="left-ul">
                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h3>April 2021 - Present</h3>
                                    <p>Portsmouth NH</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">Software Engineer - <a class="text-red" href="https://nordnet.se" target="_blank">B2W Software</a>
                                    </p>
                                    <ul>
                                        <li class="right-li">Took part in building and releasing the mortgage application project for Swedish market.</li>
                                        <li class="right-li">Helped another team with meeting the deadline for introducing brand new pension account (EPK) for Norwegian market.</li>
                                        <li class="right-li">Currently working in a full-stack/devops team responsible for deposits, withdrawals and internal transfers with a goal to make moving money easy and simple for our customers.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h3>November 2018 - April 2021</h3>
                                    <p>Portsmouth NH</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">Cloud Engeneer - <a class="text-red" href="https://nordnet.se" target="_blank">B2W Software</a>
                                    </p>
                                    <ul>
                                        <li class="right-li">Took part in building and releasing the mortgage application project for Swedish market.</li>
                                        <li class="right-li">Helped another team with meeting the deadline for introducing brand new pension account (EPK) for Norwegian market.</li>
                                        <li class="right-li">Currently working in a full-stack/devops team responsible for deposits, withdrawals and internal transfers with a goal to make moving money easy and simple for our customers.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="entry">
                                <div class="title left-side-title">
                                    <h3>Jan 2018 - Present</h3>
                                    <p>Remote</p>
                                </div>
                                <div class="body">
                                    <p style="padding-bottom: 20px;">Web developer - <a class="text-red" href="https://nordnet.se" target="_blank">B2W Software</a>
                                    </p>
                                    <ul>
                                        <li class="right-li">Took part in building and releasing the mortgage application project for Swedish market.</li>
                                        <li class="right-li">Helped another team with meeting the deadline for introducing brand new pension account (EPK) for Norwegian market.</li>
                                        <li class="right-li">Currently working in a full-stack/devops team responsible for deposits, withdrawals and internal transfers with a goal to make moving money easy and simple for our customers.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
        </div>
    </div>
    </div>
</div>