
  .custom-btn {
    transition: all .5s ease;
    color: #fff;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 15px;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(207,112,104);
  }
  a:hover {
     text-decoration: none; 
    }
    .custom-btn:hover {
        transition-duration: 1s;
        color: #001F3F;
        background-color: rgb(207,112,104);
      }
      .link:hover{
        color:rgb(204, 130, 123);
      }

  .get-in-touch-olock{
    background: linear-gradient(
45deg, rgb(36, 52, 95) 0%, rgb(28, 40, 73) 100%);
    padding-top: 80px;
    padding-bottom: 80px; 
  }
  .cUOJHT {
    width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 24px;
}

.oGrtH {
  margin: 0px;
  font: 600 2.4em / 1.2 Raleway, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
}

p{
  font: 300 1em / 1.6 Lato, Helvetica, Arial, sans-serif;
  margin: 0px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
  padding-top: 20px;
}