<div class="get-in-touch-bolock">
        <div class="cUOJHT">
            <h2 class="oGrtH">Let's get in touch</h2>
            <div>
                <p class="color-white">Do you have an interesting project I can help with?
                    <br>Feel free to reach out to me!
                </p>
            </div>
            <div>
                <div class='buttons'>
                <a routerLink="/portfolio" class="btn btn-lg edit_hover_class custom-btn">
                    <fa-icon [icon]="faBriefcase"></fa-icon> My portfolio 
                   </a>
                   &nbsp;
                   <a routerLink="/contact" class="btn btn-lg edit_hover_class custom-btn">
                    <fa-icon [icon]="faEnvelope"></fa-icon> Get in touch 
                   </a>
                </div>
            </div>
        </div>
</div>