<div class="get-in-touch-olock">
    <div class="">
        <div class="cUOJHT">
            <h2 class="sc-1w5zmqf-0 oGrtH">Let's get in touch</h2>
            <div class="ssccpk-0 ffupnu">
                <p class="color-white">Do you have an interesting project I can help with?
                    <br>Feel free to reach out to me!
                </p>
            </div>
            <div class="jg55wx-0 jyIxFv">
                <a href="portfolio" class="btn btn-lg edit_hover_class custom-btn">
                    <fa-icon [icon]="faBriefcase"></fa-icon> My portfolio 
                   </a>
                   &nbsp;
                   <a href="contact" class="btn btn-lg edit_hover_class custom-btn">
                    <fa-icon [icon]="faEnvelope"></fa-icon> Get in touch 
                   </a>
            </div>
        </div>
    </div>
</div>