
<app-header [mainHeader]="portfolioData.name" [secondaryHeader]="portfolioData.secondTitle"></app-header>

<div class="box article">
    <div class="container" style="max-width: 1140px">
        
        <div class="row">
            <div class="col-8">
               
                <ngb-carousel *ngIf="images" [animation]="false" [interval]="2000" >
                    <ng-template ngbSlide *ngFor="let image of portfolioData.images" >
                      <div class="picsum-img-wrapper" style="height: 350px;">
                        <img [src]="image">
                      </div>
                      <div class="carousel-caption">
                      </div>
                    </ng-template>
                </ngb-carousel>

                <div style="padding-top: 40px;">
                    <app-paragraph [header]="'Technical specification'"
                    [paragraph]="portfolioData.techSpecifications"></app-paragraph>
                  
                    <app-paragraph [header]="'Responsibilities'"
                    [paragraph]="portfolioData.responsibilities" [tags]="portfolioData.boolet"></app-paragraph>
                            
                    <app-paragraph [header]="'Challenges'"
                    [paragraph]="portfolioData.chalanges"></app-paragraph>
                  </div>
                </div>
           
            <div class="col-4">
                <div style="padding-left: 10px; padding-right: 10px;">
                    <app-aside [tags]="portfolioData.tags" [header]="'Technologies'"></app-aside>
                    <app-aside [year]="portfolioData.date" [header]="'Date'"></app-aside>
                    <app-aside [link]="portfolioData.link" [header]="'Online'"></app-aside>
                </div>
            </div>
        </div>

    </div>
</div>
<app-getintouch></app-getintouch>