
  button {
    transition: all .5s ease;
    color: #fff;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 15px;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(207,112,104);
  }
  button:hover {
    transition-duration: 1s;
    color: #001F3F;
    background-color: rgb(207,112,104);
  }
  
  .edit_hover_class fa-icon{
    visibility: hidden;
  }
  .edit_hover_class:hover fa-icon {
    visibility: visible;  
    transition-duration: 1s;
  }