
<div class="box main-box">
    <div class="container" style="max-width: 1140px">
        <div class='row'>
            <h1 class="col header" >Contact</h1>
        </div>
        <div class="row text-white">
            <div class="col">
                <h3 >Where to find me</h3>
                <div style="padding-top: 15px;">
                    <p class="text-gray">Do you have an interesting project I can help with?<br> Feel free to reach out to me by using one of the following:
                    </p>
                    <ul class="text-gray">
                    <li >Email: <strong><a class="text-red" href="mailto:stanmozolevskiy@gmail.com" target="_blank" rel="noreferrer">stanmozolevskiy@gmail.com</a></strong></li>
                    <li>LinkedIn: <strong><a class="text-red" href="https://www.linkedin.com/in/stanislavmozolevskiy/" target="_blank" rel="noreferrer">stanislavmozolevskiy</a></strong></li>
                    <li>GitHub: <strong><a class="text-red" href="https://github.com/Stanmozolevskiy" target="_blank" rel="noreferrer">stanmozolevskiy</a></strong></li>
                    </ul>
                    <p class="text-gray">You can also use the contact form on this page.</p>
                </div>
            </div>
            <div class="col">

                
                <div class="contact-form">
                    <h3>Contact Form</h3>
                    <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                        <div class="form-group">
                            <label class='text-gray'>Name</label>
                            <input type="text" class="form-control input" formControlName="name" placeholder="Enter your full name...">
                        </div>
                        <div class="form-group">
                          <label class='text-gray'>Email</label>
                          <input type="email" class="form-control input" formControlName="sender" placeholder="Enter your email...">
                        </div>
                        <div class="form-group">
                            <label class='text-gray'>Message</label>
                            <textarea class="form-control input" formControlName="message" rows="3" placeholder="Enter your message..."></textarea>
                        </div>
                        <div class="form-group" *ngIf="emailSent">
                            <label>Thank you for your email, give use some time to reply.</label>
                        </div>
                        <button *ngIf="!emailSent" type="submit" class="btn btn-lg edit_hover_class" [disabled]="contactForm.disabled || !(contactForm.dirty && contactForm.valid)">Send message</button>
                      </form>
                    </div>
            </div>
        </div>
    </div>
</div>

