
<div class="content" >
    <div class="content__container">
      <ul class="content__container__list">
          <li class="content__container__list__item"><i class="fab fa-angular icon" style="color: red"></i><span> Angular</span></li>
          <li class="content__container__list__item"><i class="fab fa-react icon" style="color: 4C6EF5"></i><span> Reacrt</span></li>
          <li class="content__container__list__item"><i class="fab fa-aws icon" style="color: yellow"></i><span> AWS</span></li>
          
          <li class="content__container__list__item" >
              <img class="icon" src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/30/000000/external-net-or-dot-net-a-software-framework-developed-by-microsoft-logo-shadow-tal-revivo.png"/><span> Core</span>
          </li>
      </ul>
    </div>
  </div>