<app-header [mainHeader]="'Fullstack Web Developer Portfolio'" [secondaryHeader]="'Just some of the projects I worked on.'"></app-header>
<div>
<div>
<div class="box container" style="color: white;">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-selected="true">All</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#angular" type="button" role="tab"  aria-selected="false">Angular</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#wordpress" type="button" role="tab" aria-selected="false">WordPress</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#backend" type="button" role="tab" aria-selected="false">Backend</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#games" type="button" role="tab" aria-selected="false">Games</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#firebase" type="button" role="tab" aria-selected="false">Firebase</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container" style="max-width: 1100;">
            <div class="row" style="margin-bottom: 50px;">
              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/groomsmith">
                  <img src="../../assets/images/TheGroomsmith/HomePage.jpg"></a>
                    <div class="profile-name">THE GROOMSMITH</div>
                    <div class="profile-username">Barbershop</div> 
                  </div>
              </div>
    
              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/yorkriverlanding">
                  <img src="../../assets/images/YourkRiverLanding/FrontPage.jpg"></a>
                    <div class="profile-name">YORK RIVER LANDING</div>
                    <div class="profile-username">Restaurant</div> 
                  </div>
              </div>

             <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/northwoodsbrewingcompany">
                  <img src="../../assets/images/Northwoods/Home.jpg"></a>
                    <div class="profile-name">NORTHWOODS BREWERY</div>
                    <div class="profile-username">Brewert</div> 
                  </div>
              </div>

              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/movieapes">
                  <img src="../../assets/images/MovieApes.jpg"></a>
                    <div class="profile-name">MOVIE APES</div>
                    <div class="profile-username">Movie Rating </div> 
                  </div>
              </div>

              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/weatherforecast">
                  <img src="../../assets/images/WeatherForecast.jpg"></a>
                    <div class="profile-name" >WEATHER APP</div>
                    <div class="profile-username">Weather Forecast</div> 
                  </div>
              </div>

              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/b2winform" >
                  <img src="../../assets/images/inform.jpg"></a>
                    <div class="profile-name">B2W Inform</div>
                    <div class="profile-username">Data tool</div> 
                  </div>
              </div>

              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/utility" target="blank">
                  <img src="../../assets/images/utility.jpg"></a>
                    <div class="profile-name">Utility app</div>
                    <div class="profile-username">Utility app</div> 
                  </div>
              </div>
              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/pixi-js" target="blank">
                  <img src="../../assets/images/pixi-js.jpg"></a>
                    <div class="profile-name">Pixi JS</div>
                    <div class="profile-username">Pixi JS</div> 
                  </div>
              </div>
              <div class="col-md-4">
                <div class="profile-card-2"><a routerLink="/portfolio/giftastic" >
                  <img src="../../assets/images/giftastic.jpg"></a>
                    <div class="profile-name">Gif Tastic</div>
                    <div class="profile-username">Gif Collections</div> 
                  </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="angular" role="tabpanel" aria-labelledby="profile-tab">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="all">
                <div class="container" style="max-width: 1100;">
                <div class="row" style="margin-bottom: 50px;">
       
                  <div class="col-md-4">
                    <div class="profile-card-2"><a href="https://movieapes.com/" target="blank">
                      <img src="../../assets/images/MovieApes.jpg"></a>
                        <div class="profile-name">MOVIE APES</div>
                        <div class="profile-username">Movie Rating </div> 
                      </div>
                  </div>
    
                  <div class="col-md-4">
                    <div class="profile-card-2"><a routerLink="/portfolio/weatherforecast">
                      <img src="../../assets/images/WeatherForecast.jpg"></a>
                        <div class="profile-name" >WEATHER APP</div>
                        <div class="profile-username">Weather Forecast</div> 
                      </div>
                  </div>

                  <div class="col-md-4">
                    <div class="profile-card-2"><a routerLink="/portfolio/b2winform" >
                      <img src="../../assets/images/inform.jpg"></a>
                        <div class="profile-name">B2W Inform</div>
                        <div class="profile-username">Data tool</div> 
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="profile-card-2"><a routerLink="/portfolio/utility" target="blank">
                      <img src="../../assets/images/utility.jpg"></a>
                        <div class="profile-name">Utility app</div>
                        <div class="profile-username">Utility app</div> 
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="profile-card-2"><a routerLink="/portfolio/pixi-js" target="blank">
                      <img src="../../assets/images/pixi-js.jpg"></a>
                        <div class="profile-name">Pixi JS</div>
                        <div class="profile-username">Pixi JS</div> 
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="profile-card-2"><a routerLink="/portfolio/giftastic" >
                      <img src="../../assets/images/giftastic.jpg"></a>
                        <div class="profile-name">Gif Tastic</div>
                        <div class="profile-username">Gif Collections</div> 
                      </div>
                  </div>
        
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="wordpress" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container" style="max-width: 1100;">
        <div class="row" style="margin-bottom: 50px;">
          <div class="col-md-4">
            <div class="profile-card-2"><a routerLink="/portfolio/groomsmith">
              <img src="../../assets/images/TheGroomsmith/HomePage.jpg"></a>
                <div class="profile-name">THE GROOMSMITH</div>
                <div class="profile-username">Barbershop</div> 
              </div>
          </div>

          <div class="col-md-4">
            <div class="profile-card-2"><a routerLink="/portfolio/yorkriverlanding">
              <img src="../../assets/images/YourkRiverLanding/FrontPage.jpg"></a>
                <div class="profile-name">YORK RIVER LANDING</div>
                <div class="profile-username">Restaurant</div> 
              </div>
          </div>

         <div class="col-md-4">
            <div class="profile-card-2"><a routerLink="/portfolio/northwoodsbrewingcompany">
              <img src="../../assets/images/Northwoods/Home.jpg"></a>
                <div class="profile-name">NORTHWOODS BREWERY</div>
                <div class="profile-username">Brewert</div> 
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="backend" role="tabpanel" aria-labelledby="contact-tab">
      <div class="container" style="max-width: 1100;">
      <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-4">
        <div class="profile-card-2"><a routerLink="/portfolio/utility" target="blank">
          <img src="../../assets/images/utility.jpg"></a>
            <div class="profile-name">Utility app</div>
            <div class="profile-username">Utility app</div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card-2"><a routerLink="/portfolio/b2winform" >
            <img src="../../assets/images/inform.jpg"></a>
              <div class="profile-name">B2W Inform</div>
              <div class="profile-username">Data tool</div> 
            </div>
        </div>
      </div>
      </div>
    </div>

    <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="contact-tab">
      <div class="container" style="max-width: 1100;">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-4">
              <div class="profile-card-2"><a routerLink="/portfolio/train-schedule" target="blank">
                <img src="../../assets/images/train-schedule.jpg"></a>
                  <div class="profile-name">Train Schedule</div>
                  <div class="profile-username">Train Schedule</div> 
                </div>
            </div>
            <div class="col-md-4">
              <div class="profile-card-2"><a routerLink="/portfolio/trivia-game" target="blank">
                <img src="../../assets/images/trivia-game.jpg"></a>
                  <div class="profile-name">Trivia Game</div>
                  <div class="profile-username">Trivia Game</div> 
                </div>
            </div>

            <div class="col-md-4">
              <div class="profile-card-2"><a routerLink="/portfolio/drum-player" target="blank">
                <img src="../../assets/images/drum-player.jpg"></a>
                  <div class="profile-name">Drum Player</div>
                  <div class="profile-username">Drum Player</div> 
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="firebase" role="tabpanel" aria-labelledby="contact-tab">
      <div class="container" style="max-width: 1100;">
        <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-4">
        <div class="profile-card-2"><a routerLink="/portfolio/utility" target="blank">
          <img src="../../assets/images/utility.jpg"></a>
            <div class="profile-name">Utility app</div>
            <div class="profile-username">Utility app</div> 
          </div>
      </div>

      <div class="col-md-4">
        <div class="profile-card-2"><a routerLink="/portfolio/train-schedule" target="blank">
          <img src="../../assets/images/train-schedule.jpg"></a>
            <div class="profile-name">Train Schedule</div>
            <div class="profile-username">Train Schedule</div> 
          </div>
      </div>
      
    </div>

  </div>
  </div>
  </div>
</div>

<app-getintouch></app-getintouch>