
        <input type="checkbox" id="check" checked>
        <div class="sidebar">
          <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
          </label>
          
          <a routerLink=""><i class="fas fa-desktop"></i><span>Home</span></a>
          <a routerLink="/about"><i class="fas fa-address-card"></i><span>About</span></a>
          <a routerLink="/portfolio"><i class="fas fa-suitcase"></i><span>Portfolio</span></a>
          <a routerLink="/contact"><i class="fas fa-envelope"></i><span>Contact</span></a>
          <div class="link-group">
            <a class="links" href="https://github.com/Stanmozolevskiy" target="_blank"><i class="fab fa-github"></i></a>
            <a class="links" href="https://www.linkedin.com/in/stanislavmozolevskiy/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        
        </div>
        <!--sidebar end-->
    
<div class='content'>
  <router-outlet></router-outlet>
</div>
