
        <input type="checkbox" id="check">
        <!--header area start-->
        <header>
          
          
        </header>
        <!--header area end-->
        <!--sidebar start-->
        <div class="sidebar">
          <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
          </label>
          
          <a href="#"><i class="fas fa-desktop"></i><span>Home</span></a>
          <a href="#"><i class="fas fa-cogs"></i><span>About</span></a>
          <a href="#"><i class="fas fa-table"></i><span>Portfolio</span></a>
          <a href="#"><i class="fas fa-th"></i><span>Contact</span></a>
          <div class="link-group">
            <a class="links" href="#"><i class="fab fa-github"></i></a>
            <a class="links" href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        
        </div>
        <!--sidebar end-->
    


<div class='content'>
  <router-outlet>
  </router-outlet>
</div>
