.portfolio-header{
    background: linear-gradient(
        45deg, rgb(36, 52, 95) 0%, rgb(28, 40, 73) 100%);
            padding-top: 80px;
            padding-bottom: 20px; 
}
.cUOJHT {
    width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 24px;
}
.kJDeaE {
    margin: 0px;
    font: 300 0.875em / 1.6 Lato, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
  .oGrtH {
    margin: 0px;
    font: 600 2.4em / 1.2 Raleway, Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
  }
  .dcBKiZ {
    margin: 0px;
    font: 600 1.33em / 1.2 Raleway, Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}
p{
    padding-bottom:20px;
    padding-top:20px;
    line-height: 1.61em;
    font: 300 1em / 1.6 Lato, Helvetica, Arial, sans-serif;
    margin: 0px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
}
