/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  background: rgb(22,32,58);
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.main-box{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100vh;
    
  }
  .text-red{
    color:rgb(207,112,104);
}
.text-gray{
   color:rgb(225,225,225,0.8);
   font: 300 1.333em / 1.6 Lato, Helvetica, Arial, sans-serif;
}
.text-white{
    color: white;
    font: 600 0.925em / 1.2 Raleway, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
