.main-box{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100vh;
}
button {
    transition: all .5s ease;
    color: #fff;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 15px;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(207,112,104);
}
button:hover {
    transition-duration: 1s;
    color: #001F3F;
    background-color: rgb(207,112,104);
}

  .edit_hover_class fa-icon{
    visibility: hidden;
  }
  .edit_hover_class:hover fa-icon {
    visibility: visible;  
    transition-duration: 1s;
  }
  .text-red{
      color:rgb(207,112,104);
  }
  .text-gray{
     color:rgb(225,225,225,0.8);
     font: 300 1.333em / 1.6 Lato, Helvetica, Arial, sans-serif;
  }
  .text-white{
      color: white;
      font: 600 0.925em / 1.2 Raleway, Helvetica, Arial, sans-serif;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }



.text-change::before {
    content: "Angular";
    animation: animate infinite 7s;
    padding-left: 10px;
    
}

@keyframes animate {

    0% {
        content: "Angular";
    }

    50% {
        content: "AWS";
    }

    75% {
        content: ".Net 5";
    }
    100% {
      content: "SQL";
  }
}