.custom-btn {
  transition: all .5s ease;
  color: #fff;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 15px;
  outline: none;
  border-radius: 4px;
  border: 2px solid rgb(207,112,104);
}
  a:hover {
     text-decoration: none; 
    }

  .custom-btn:hover {
    transition-duration: 1s;
    color: #001F3F;
    background-color: rgb(207,112,104);
  }
  .link:hover{
    color:rgb(204, 130, 123);
  }
  .link{
    margin-left: 5px;
  }
  
  .edit_hover_class fa-icon{
    visibility: hidden;
  }
  .edit_hover_class:hover fa-icon {
    visibility: visible;  
    transition-duration: 1s;
  }

  .text-change::before {
    content: "Angular";
    animation: animate infinite 7s;
    padding-left: 10px;
  }

  .buttons{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    
  }
  
  @keyframes animate {
  
    0% {
        content: "Angular";
    }
  
    50% {
        content: "AWS";
    }
  
    75% {
        content: ".Net 5";
    }
    100% {
      content: "SQL";
  }
  }
 
  @media only screen and (max-width: 992px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .buttons .custom-btn{
      font-size: 100%;
    }
    .buttons{
      padding-top: 16px;
     
    }
    .custom-btn{
      margin-bottom: 15px;
    }
    p{
      padding-top: 15px;
    }
    h3{
      padding-top: 20px;
    }
    h1{
      padding-top: 10px;
    }
    .row{
      margin-top: 400px;
    }
  }

  @media only screen and (max-width: 400px) {
    .row{
      margin-top: 300px;
    }
  }