 
<div class="box main-box">
    <div class="container">
        <div class="row">
          <div class="col-8 text-white" >
            <div >
                <h3>Hey there,</h3>
                <h1>my name is Stan Mozolevskiy.
                    <br>I am a 
                    <span class="text-red">Fullstack Web Software</span> based in New Hampshire, USA.
                </h1>
            </div>

            <div >
                <p class="text-gray">Specialized in <strong class="text-white">frontend development</strong> with over 7 years of professional experience in building the web and working with technologies like &nbsp; "angular, react, sql, aws, .net"
                </p>
             
                    <button type="button" class="btn  btn-lg edit_hover_class" style="color:white;">
                     <fa-icon [icon]="faBriefcase"></fa-icon>   My portfolio 
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-lg edit_hover_class">
                     <fa-icon [icon]="faEnvelope"></fa-icon>  Get in touch 
                    </button>
                             
                &nbsp; or learn more <a class="text-red" href="#"> about me. </a>
            </div>
            <div class="row">
            </div>
        </div>
            <div class="col text-white">
            Image or the M letter breaking up on pixels
            </div>
        </div>
      </div>
    </div>



