 
<div class="box main-box">
    <div class="container">
        <div class="row">
          <div class="col-8 text-white" >
            <div >
                <h3>Hey there,</h3>
                <h1>my name is Stan Mozolevskiy.
                    <br>I am a 
                    <span class="text-red">Fullstack Software Engineer</span> based in New Hampshire, USA.
                </h1>
            </div>

            <div >
                <p class="text-gray">Specialized in <strong class="text-white">Microsoft .net </strong> development with over 4 years of professional experience in building applications and working with technologies like &nbsp; "angular, react, sql, aws, .net"
                </p>
                    <div class='buttons'>
                            <a href="portfolio" class="btn btn-lg edit_hover_class custom-btn">
                            <fa-icon [icon]="faBriefcase"></fa-icon> My portfolio 
                            </a>
                            &nbsp;
                            <a href="contact" class="btn btn-lg edit_hover_class custom-btn">
                            <fa-icon [icon]="faEnvelope"></fa-icon> Get in touch 
                            </a>
                                    
                        &nbsp; or learn more <a class="text-red link" href="about"> about me. </a>
                    </div>
            </div>
           
        </div>
            <div class="col text-white" style="background-image: url('../../assets/images/ezgif-3-3463c59812.gif'); 
             background-repeat: no-repeat;  background-position: center; background-size: cover;">
            </div>
        </div>
      </div>
    </div>



